<footer>
    <div class="footer-container">

        <div class="footer-main">
            <div class="footer-title">
            <span>REGÍSTRATE A NUESTRO CATÁLOGO</span>
            </div>
            <div class="footer-description">Obtén ofertas especiales, productos exclusivos e información de eventos en tu inbox.</div>
        </div>

        <div class="form-section">
            <form action="" method="get">
                <div>
                    <label for="emailAddress" id="label-email">Email</label>
                    <input type="email" id="emailAddress">
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="intereses">
                        <span id="checkbox-text">
                            Ver Políticas de Privacidad & Términos
                        </span>
                    </label>
                </div>

                <div class="footer-details">
                    <p>Al suscribirse recibirá las últimas noticias y eventos asociados al mundo del ciclismo; según la Política de Privacidad & Términos.</p>
                </div>

                <div>
                    <a href="#" id="subscribe">SUSCRÍBETE</a>
                </div>

                <div class="networks">
                    <i class="fab fa-facebook-square fa-2x"></i>
                    <i class="fab fa-twitter-square fa-2x"></i>
                    <i class="fab fa-instagram-square fa-2x"></i>
                    <i class="fab fa-youtube-square fa-2x"></i>
                </div>
                
            </form>
        </div>
        
    </div>
</footer>

