<header>
    <div class="main-header">
        <div class="menu">
            <i class="fa fa-bars burger"></i>
        </div>

        <div>
            <span class="brand-name">Node Bike</span>
        </div>
        <nav class="navigation-menu">
            <ul>
                <li class="page active"><a href="/" id="active">Home</a></li>
                <li class="page"><a href="#">Categorías</a></li>
                <li class="page"><a href="/productCart">Carro de Compras</a></li>
                <li class="page"><a href="/register">Crear Cuenta</a></li>
                <li class="page"><a href="/login">Iniciar Sesión</a></li>
            </ul>
        </nav>

        <div class="cart">
            <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
</header>