<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/89c6b6c230.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="main-header">
            <div class="menu">
                <i class="fa fa-bars burger"></i>
            </div>

            <div class="bb">
                <span class="brand-name">Node Bike</span>
            </div>

            <div class="menu">
                <i class="fas fa-shopping-cart"></i>
            </div>

            <nav class="navigation-menu">
                <ul>
                    <li class="page">Home</li>
                    <li class="page">Categorías</li>
                    <li class="page">Carro de Compras</li>
                    <li class="page">Crear Cuenta</li>
                    <li class="page">Iniciar Sesión</li>
                </ul>
            </nav>
        </div>
        
    </header>
</body>
</html>