<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>

    <!-- Header -->
    <%- include('./partials/header') %>
    <!-- End of header -->
    
    <!-- Hero Section -->
    <section class="hero">
        <div class="container hero-container">
            <div class="hero-button">
                <a href="#">ELIGE TU BICICLETA</a>
            </div>
            
        </div>
    </section>
    <!-- End of Hero Section -->


    <!-- Producto Section -->
    <section class="top-products">
        <div class="container desktop-products">
            <div class="top-products_title">
                <span>Productos más vendidos</span>
                <a href="#">Ver todos</a>
            </div>

            <div class="list-products">
                <div class="product">
        
                    <div>
                        <div class="top-products_detail">
                            <span>Artículo de Nombre x</span>
                            <div class="top-products_detail_price_stock">
                                <span>$ 200.00</span>
                                <span>16 unid. en stock</span>
                            </div>
                            <div class="top-products_detail-stars">
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                            </div>
                        </div>
            
                        <div class="top-product_see_more">
                            <a href="/productDetail">VER MÁS DETALLE</a>
                        </div>
                        <div class="top-product_image">
                            
                        </div>
                    </div>
                </div>
    
                <div class="product hidden">
                    
            
                    <div>
                        <div class="top-products_detail">
                            <span>Artículo de Nombre x</span>
                            <div class="top-products_detail_price_stock">
                                <span>$ 200.00</span>
                                <span>16 unid. en stock</span>
                            </div>
                            <div class="top-products_detail-stars">
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                            </div>
                        </div>
            
                        <div class="top-product_see_more">
                            <a href="/productDetail">VER MÁS DETALLE</a>
                        </div>
                        <div class="top-product_image">
                            
                        </div>
                    </div>
                </div>
    
                <div class="product hidden">
            
                    <div>
                        <div class="top-products_detail">
                            <span>Artículo de Nombre x</span>
                            <div class="top-products_detail_price_stock">
                                <span>$ 200.00</span>
                                <span>16 unid. en stock</span>
                            </div>
                            <div class="top-products_detail-stars">
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                            </div>
                        </div>
            
                        <div class="top-product_see_more">
                            <a href="/productDetaill">VER MÁS DETALLE</a>
                        </div>
                        <div class="top-product_image">
                            
                        </div>
                    </div>
                </div>

                <div class="product hidden">
            
                    <div>
                        <div class="top-products_detail">
                            <span>Artículo de Nombre x</span>
                            <div class="top-products_detail_price_stock">
                                <span>$ 200.00</span>
                                <span>16 unid. en stock</span>
                            </div>
                            <div class="top-products_detail-stars">
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                            </div>
                        </div>
            
                        <div class="top-product_see_more">
                            <a href="/productDetail">VER MÁS DETALLE</a>
                        </div>
                        <div class="top-product_image">
                            
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
        
    </section>

    <!-- End of Producto Section -->


    <!-- Bike Categories Section -->
    <section class="categories">
        <div class="container categories-container">
            <div class="category-item">
                <div class="category-title">ACCESORIOS</div>
                <div class="image">
                    <img src="./images/categoria-accesories.jpg" alt="category image">
                </div>
            </div>

            <div class="category-item">
                <div class="category-title">CARRETERA</div>
                <div class="image">
                    <img src="./images/categoria-carretera.jpg" alt="category image">
                </div>
            </div>

            <div class="category-item">
                <div class="category-title">CROSS COUNTRY</div>
                <div class="image">
                    <img src="./images/categoria-crosscountry.jpg" alt="category image">
                </div>
            </div>

            <div class="category-item">
                <div class="category-title">ELÉCTRICA</div>
                <div class="image">
                    <img src="./images/categoria-electric.jpg" alt="category image">
                </div>
            </div>

            <div class="category-item">
                <div class="category-title">URBANA</div>
                <div class="image">
                    <img src="./images/categoria-urbana.jpg" alt="category image">
                </div>
            </div>

            <div class="category-item">
                <div class="category-title">MONTAÑERA</div>
                <div class="image">
                    <img src="./images/cateogria-montanhera.jpg" alt="category image">
                </div>
            </div>
        </div>

    </section>
    <!-- End of bike categories Section-->

    <!-- News -->
    <section class="news">
        <div class="container">
            <div class="news_title">
                <span>Novedades del mundo del ciclismo</span>
                
            </div>

            <div class="list-news">
                <div class="news-item">
        
                    <div class="new">
                        <div class="news_detail">
                            <span>Carrera a 100km - Panamericana Norte</span>
                            <p>Se convoca a una carrera de ciclistas con el fin de definir al campeón de la copa mundial de este año.</p>
                        </div>
            
                        <div class="news_see_more">
                            <a href="#">VISITAR PÁGINA WEB</a>
                        </div>
                        <div class="news_image">
                            
                        </div>
                    </div>
                </div>
            

            
                <div class="news-item hidden">
        
                    <div class="new">
                        <div class="news_detail">
                            <span>Carrera a 100km - Panamericana Norte</span>
                            <p>Se convoca a una carrera de ciclistas con el fin de definir al campeón de la copa mundial de este año.</p>
                        </div>
            
                        <div class="news_see_more">
                            <a href="#">VISITAR PÁGINA WEB</a>
                        </div>
                        <div class="news_image">
                            
                        </div>
                    </div>
                </div>
            

            
                <div class="news-item hidden">
        
                    <div class="new">
                        <div class="news_detail">
                            <span>Carrera a 100km - Panamericana Norte</span>
                            <p>Se convoca a una carrera de ciclistas con el fin de definir al campeón de la copa mundial de este año.</p>
                        </div>
            
                        <div class="news_see_more">
                            <a href="#">VISITAR PÁGINA WEB</a>
                        </div>
                        <div class="news_image">
                            
                        </div>
                    </div>
                </div>
           

            
                <div class="news-item hidden">
        
                    <div class="new">
                        <div class="news_detail">
                            <span>Carrera a 100km - Panamericana Norte</span>
                            <p>Se convoca a una carrera de ciclistas con el fin de definir al campeón de la copa mundial de este año.</p>
                        </div>
            
                        <div class="news_see_more">
                            <a href="#">VISITAR PÁGINA WEB</a>
                        </div>
                        <div class="news_image">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    </section>

    <!-- End of News-->

    <!-- Footer -->
    <%- include('./partials/footer') %>
    <!-- End of Footer -->

</body>
</html>