<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/89c6b6c230.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Header -->
    <header>
        <div class="main-header">
            <div class="menu">
                <i class="fa fa-bars burger"></i>
            </div>

            <div>
                <span class="brand-name">Node Bike</span>
            </div>
            <nav class="navigation-menu">
                <ul>
                    <li class="page active"><a href="#" id="active">Home</a></li>
                    <li class="page"><a href="#">Categorías</a></li>
                    <li class="page"><a href="#">Carro de Compras</a></li>
                    <li class="page"><a href="#">Crear Cuenta</a></li>
                    <li class="page"><a href="#">Iniciar Sesión</a></li>
                </ul>
            </nav>

            <div class="cart">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </header>
    <!-- End of header -->

    <!-- Bike Categories -->
    <section class="categories">
        <div class="categories-container">
            <div class="category-item">
                <div class="category-title">CATEGORIA 1</div>
                <div class="image">
                    <img src="./images/categoria-accesories.jpg" alt="category image">
                </div>
            </div>

            <div class="category-item">
                <div class="category-title">CATEGORIA 2</div>
                <div class="image">
                    <img src="./images/categoria-carretera.jpg" alt="category image">
                </div>
            </div>

            <div class="category-item">
                <div class="category-title">CATEGORIA 3</div>
                <div class="image">
                    <img src="./images/categoria-crosscountry.jpg" alt="category image">
                </div>
            </div>

            <div class="category-item">
                <div class="category-title">CATEGORIA 4</div>
                <div class="image">
                    <img src="./images/categoria-electric.jpg" alt="category image">
                </div>
            </div>

            <div class="category-item">
                <div class="category-title">CATEGORIA 5</div>
                <div class="image">
                    <img src="./images/categoria-urbana.jpg" alt="category image">
                </div>
            </div>

            <div class="category-item">
                <div class="category-title">CATEGORIA 6</div>
                <div class="image">
                    <img src="./images/cateogria-montanhera.jpg" alt="category image">
                </div>
            </div>
        </div>

    </section>
    <!-- End of bike categories -->

    <!-- Footer -->
    <footer>
        <div class="footer-container">

            <div class="footer-main">
                <div class="footer-title">
                <span>REGÍSTRATE A NUESTRO CATÁLOGO</span>
                </div>
                <div class="footer-description">Obtén ofertas especiales, productos exclusivos e información de eventos en tu inbox.</div>
            </div>

            <div class="form-section">
                <form action="" method="get">
                    <div>
                        <label for="emailAddress" id="label-email">Email</label>
                        <input type="email" id="emailAddress">
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="intereses">
                            <span id="checkbox-text">
                                Ver Políticas de Privacidad & Términos
                            </span>
                        </label>
                    </div>

                    <div class="footer-details">
                        <p>Al suscribirse recibirá las últimas noticias y eventos asociados al mundo del ciclismo; según la Política de Privacidad & Términos.</p>
                    </div>

                    <div>
                        <a href="#" id="subscribe">SUSCRÍBETE</a>
                    </div>

                    <div class="networks">
                        <i class="fab fa-facebook-square fa-2x"></i>
                        <i class="fab fa-twitter-square fa-2x"></i>
                        <i class="fab fa-instagram-square fa-2x"></i>
                        <i class="fab fa-youtube-square fa-2x"></i>
                    </div>
                    
                </form>
            </div>
            
        </div>
    </footer>
    <!-- End of Footer -->

</body>
</html>