<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/89c6b6c230.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Header -->
    <header>
        <div class="main-header">
            <div class="menu">
                <i class="fa fa-bars burger"></i>
            </div>

            <div>
                <span class="brand-name">Node Bike</span>
            </div>
            <nav class="navigation-menu">
                <ul>
                    <li class="page active"><a href="/" id="active">Home</a></li>
                    <li class="page"><a href="#">Categorías</a></li>
                    <li class="page"><a href="/productCart">Carro de Compras</a></li>
                    <li class="page"><a href="/register">Crear Cuenta</a></li>
                    <li class="page"><a href="/login">Iniciar Sesión</a></li>
                </ul>
            </nav>

            <div class="cart">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </header>
    <!-- End of header -->
    
    <!-- Hero Section -->
    <section class="hero">
        <div class="container hero-container">
            <div class="hero-button">
                <a href="#">ELIGE TU BICICLETA</a>
            </div>
            
        </div>
    </section>
    <!-- End of Hero Section -->


    <!-- Producto Section -->
    <section class="top-products">
        <div class="container desktop-products">
            <div class="top-products_title">
                <span>Productos más vendidos</span>
                <a href="#">Ver todos</a>
            </div>

            <div class="list-products">
                <div class="product">
        
                    <div>
                        <div class="top-products_detail">
                            <span>Artículo de Nombre x</span>
                            <div class="top-products_detail_price_stock">
                                <span>$ 200.00</span>
                                <span>16 unid. en stock</span>
                            </div>
                            <div class="top-products_detail-stars">
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                            </div>
                        </div>
            
                        <div class="top-product_see_more">
                            <a href="./productDetail.html">VER MÁS DETALLE</a>
                        </div>
                        <div class="top-product_image">
                            
                        </div>
                    </div>
                </div>
    
                <div class="product hidden">
                    
            
                    <div>
                        <div class="top-products_detail">
                            <span>Artículo de Nombre x</span>
                            <div class="top-products_detail_price_stock">
                                <span>$ 200.00</span>
                                <span>16 unid. en stock</span>
                            </div>
                            <div class="top-products_detail-stars">
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                            </div>
                        </div>
            
                        <div class="top-product_see_more">
                            <a href="./productDetail.html">VER MÁS DETALLE</a>
                        </div>
                        <div class="top-product_image">
                            
                        </div>
                    </div>
                </div>
    
                <div class="product hidden">
            
                    <div>
                        <div class="top-products_detail">
                            <span>Artículo de Nombre x</span>
                            <div class="top-products_detail_price_stock">
                                <span>$ 200.00</span>
                                <span>16 unid. en stock</span>
                            </div>
                            <div class="top-products_detail-stars">
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                            </div>
                        </div>
            
                        <div class="top-product_see_more">
                            <a href="./productDetail.html">VER MÁS DETALLE</a>
                        </div>
                        <div class="top-product_image">
                            
                        </div>
                    </div>
                </div>

                <div class="product hidden">
            
                    <div>
                        <div class="top-products_detail">
                            <span>Artículo de Nombre x</span>
                            <div class="top-products_detail_price_stock">
                                <span>$ 200.00</span>
                                <span>16 unid. en stock</span>
                            </div>
                            <div class="top-products_detail-stars">
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                            </div>
                        </div>
            
                        <div class="top-product_see_more">
                            <a href="./views/productDetail.html">VER MÁS DETALLE</a>
                        </div>
                        <div class="top-product_image">
                            
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
        
    </section>

    <!-- End of Producto Section -->


    <!-- Bike Categories Section -->
    <section class="categories">
        <div class="container categories-container">
            <div class="category-item">
                <div class="category-title">ACCESORIOS</div>
                <div class="image">
                    <img src="./images/categoria-accesories.jpg" alt="category image">
                </div>
            </div>

            <div class="category-item">
                <div class="category-title">CARRETERA</div>
                <div class="image">
                    <img src="./images/categoria-carretera.jpg" alt="category image">
                </div>
            </div>

            <div class="category-item">
                <div class="category-title">CROSS COUNTRY</div>
                <div class="image">
                    <img src="./images/categoria-crosscountry.jpg" alt="category image">
                </div>
            </div>

            <div class="category-item">
                <div class="category-title">ELÉCTRICA</div>
                <div class="image">
                    <img src="./images/categoria-electric.jpg" alt="category image">
                </div>
            </div>

            <div class="category-item">
                <div class="category-title">URBANA</div>
                <div class="image">
                    <img src="./images/categoria-urbana.jpg" alt="category image">
                </div>
            </div>

            <div class="category-item">
                <div class="category-title">MONTAÑERA</div>
                <div class="image">
                    <img src="./images/cateogria-montanhera.jpg" alt="category image">
                </div>
            </div>
        </div>

    </section>
    <!-- End of bike categories Section-->

    <!-- News -->
    <section class="news">
        <div class="container">
            <div class="news_title">
                <span>Novedades del mundo del ciclismo</span>
                
            </div>

            <div class="list-news">
                <div class="news-item">
        
                    <div class="new">
                        <div class="news_detail">
                            <span>Carrera a 100km - Panamericana Norte</span>
                            <p>Se convoca a una carrera de ciclistas con el fin de definir al campeón de la copa mundial de este año.</p>
                        </div>
            
                        <div class="news_see_more">
                            <a href="#">VISITAR PÁGINA WEB</a>
                        </div>
                        <div class="news_image">
                            
                        </div>
                    </div>
                </div>
            

            
                <div class="news-item hidden">
        
                    <div class="new">
                        <div class="news_detail">
                            <span>Carrera a 100km - Panamericana Norte</span>
                            <p>Se convoca a una carrera de ciclistas con el fin de definir al campeón de la copa mundial de este año.</p>
                        </div>
            
                        <div class="news_see_more">
                            <a href="#">VISITAR PÁGINA WEB</a>
                        </div>
                        <div class="news_image">
                            
                        </div>
                    </div>
                </div>
            

            
                <div class="news-item hidden">
        
                    <div class="new">
                        <div class="news_detail">
                            <span>Carrera a 100km - Panamericana Norte</span>
                            <p>Se convoca a una carrera de ciclistas con el fin de definir al campeón de la copa mundial de este año.</p>
                        </div>
            
                        <div class="news_see_more">
                            <a href="#">VISITAR PÁGINA WEB</a>
                        </div>
                        <div class="news_image">
                            
                        </div>
                    </div>
                </div>
           

            
                <div class="news-item hidden">
        
                    <div class="new">
                        <div class="news_detail">
                            <span>Carrera a 100km - Panamericana Norte</span>
                            <p>Se convoca a una carrera de ciclistas con el fin de definir al campeón de la copa mundial de este año.</p>
                        </div>
            
                        <div class="news_see_more">
                            <a href="#">VISITAR PÁGINA WEB</a>
                        </div>
                        <div class="news_image">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    </section>

    <!-- End of News-->

    <!-- Footer -->
    <footer>
        <div class="footer-container">

            <div class="footer-main">
                <div class="footer-title">
                <span>REGÍSTRATE A NUESTRO CATÁLOGO</span>
                </div>
                <div class="footer-description">Obtén ofertas especiales, productos exclusivos e información de eventos en tu inbox.</div>
            </div>

            <div class="form-section">
                <form action="" method="get">
                    <div>
                        <label for="emailAddress" id="label-email">Email</label>
                        <input type="email" id="emailAddress">
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="intereses">
                            <span id="checkbox-text">
                                Ver Políticas de Privacidad & Términos
                            </span>
                        </label>
                    </div>

                    <div class="footer-details">
                        <p>Al suscribirse recibirá las últimas noticias y eventos asociados al mundo del ciclismo; según la Política de Privacidad & Términos.</p>
                    </div>

                    <div>
                        <a href="#" id="subscribe">SUSCRÍBETE</a>
                    </div>

                    <div class="networks">
                        <i class="fab fa-facebook-square fa-2x"></i>
                        <i class="fab fa-twitter-square fa-2x"></i>
                        <i class="fab fa-instagram-square fa-2x"></i>
                        <i class="fab fa-youtube-square fa-2x"></i>
                    </div>
                    
                </form>
            </div>
            
        </div>
    </footer>
    <!-- End of Footer -->

</body>
</html>