<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/89c6b6c230.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="main-header">
            <div class="menu">
                <i class="fa fa-bars burger"></i>
            </div>

            <div>
                <span class="brand-name">Node Bike</span>
            </div>
            <nav class="navigation-menu">
                <ul>
                    <li class="page active"><a href="/" id="active">Home</a></li>
                    <li class="page"><a href="#">Categorías</a></li>
                    <li class="page"><a href="/productCart">Carro de Compras</a></li>
                    <li class="page"><a href="/register">Crear Cuenta</a></li>
                    <li class="page"><a href="/login">Iniciar Sesión</a></li>
                </ul>
            </nav>

            <div class="cart">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </header>
    <!-- End of header -->

    <!-- Miga Section -->
    <section class="miga-section">
        <div class="miga-container miga-content">
            <i class="fas fa-chevron-left fa-lg"></i>
            <a href="./index.html">Home</a>
            <i class="fas fa-chevron-right fa-xs"></i>
            <a href="#">Categorías</a>
            <i class="fas fa-chevron-right fa-xs"></i>
            <a href="#">Montañeras</a>
        </div>
    </section>
    <!-- End of Miga Section -->

    <!-- Filter Section -->
    <section class="filter-section">
        <div class="filter-container filter">
            <div  class="filter-options">
                <div class="filter-option">ORDENAR POR PRECIO de mayor a menor</div>
                <div class="filter-option hidden-filter">ORDENAR POR PRECIO de menor a mayor</div>
            </div>
            
            <i class="fas fa-caret-down toggle"></i>
        </div>
    </section>

    <!-- End of Filter Section -->

    <!-- Producto Section -->
    <section class="top-products">
        <div class="container desktop-products">
            

            <div class="list-products">
                <div class="product mb">
        
                    <div>
                        <div class="top-products_detail">
                            <span>Artículo de Nombre x</span>
                            <div class="top-products_detail_price_stock">
                                <span>$ 200.00</span>
                                <span>16 unid. en stock</span>
                            </div>
                            <div class="top-products_detail-stars">
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                            </div>
                        </div>
            
                        <div class="top-product_see_more">
                            <a href="#">VER MÁS DETALLE</a>
                        </div>
                        <div class="top-product_image">
                            
                        </div>
                    </div>
                </div>
    
                <div class="product mb">
                    
            
                    <div>
                        <div class="top-products_detail">
                            <span>Artículo de Nombre x</span>
                            <div class="top-products_detail_price_stock">
                                <span>$ 200.00</span>
                                <span>16 unid. en stock</span>
                            </div>
                            <div class="top-products_detail-stars">
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                            </div>
                        </div>
            
                        <div class="top-product_see_more">
                            <a href="#">VER MÁS DETALLE</a>
                        </div>
                        <div class="top-product_image">
                            
                        </div>
                    </div>
                </div>
    
                <div class="product mb">
            
                    <div>
                        <div class="top-products_detail">
                            <span>Artículo de Nombre x</span>
                            <div class="top-products_detail_price_stock">
                                <span>$ 200.00</span>
                                <span>16 unid. en stock</span>
                            </div>
                            <div class="top-products_detail-stars">
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                            </div>
                        </div>
            
                        <div class="top-product_see_more">
                            <a href="#">VER MÁS DETALLE</a>
                        </div>
                        <div class="top-product_image">
                            
                        </div>
                    </div>
                </div>

                <div class="product mb">
            
                    <div>
                        <div class="top-products_detail">
                            <span>Artículo de Nombre x</span>
                            <div class="top-products_detail_price_stock">
                                <span>$ 200.00</span>
                                <span>16 unid. en stock</span>
                            </div>
                            <div class="top-products_detail-stars">
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                            </div>
                        </div>
            
                        <div class="top-product_see_more">
                            <a href="#">VER MÁS DETALLE</a>
                        </div>
                        <div class="top-product_image">
                            
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
        
    </section>

    <!-- End of Producto Section -->

    <!-- Footer -->
    <footer>
        <div class="footer-container">

            <div class="footer-main">
                <div class="footer-title">
                <span>REGÍSTRATE A NUESTRO CATÁLOGO</span>
                </div>
                <div class="footer-description">Obtén ofertas especiales, productos exclusivos e información de eventos en tu inbox.</div>
            </div>

            <div class="form-section">
                <form action="" method="get">
                    <div>
                        <label for="emailAddress" id="label-email">Email</label>
                        <input type="email" id="emailAddress">
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="intereses">
                            <span id="checkbox-text">
                                Ver Políticas de Privacidad & Términos
                            </span>
                        </label>
                    </div>

                    <div class="footer-details">
                        <p>Al suscribirse recibirá las últimas noticias y eventos asociados al mundo del ciclismo; según la Política de Privacidad & Términos.</p>
                    </div>

                    <div>
                        <a href="#" id="subscribe">SUSCRÍBETE</a>
                    </div>

                    <div class="networks">
                        <i class="fab fa-facebook-square fa-2x"></i>
                        <i class="fab fa-twitter-square fa-2x"></i>
                        <i class="fab fa-instagram-square fa-2x"></i>
                        <i class="fab fa-youtube-square fa-2x"></i>
                    </div>
                    
                </form>
            </div>
            
        </div>
    </footer>
    <!-- End of Footer -->
    
</body>
</html>