<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProductDetail</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/89c6b6c230.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
</head>
<body>
     <!-- Header -->
     <header>
        <div class="main-header">
            <div class="menu">
                <i class="fa fa-bars burger"></i>
            </div>

            <div>
                <span class="brand-name">Node Bike</span>
            </div>
            <nav class="navigation-menu">
                <ul>
                    <li class="page"><a href="/">Home</a></li>
                    <li class="page active"><a href="#" id="active">Categorías</a></li>
                    <li class="page"><a href="/productCart">Carro de Compras</a></li>
                    <li class="page"><a href="/register">Crear Cuenta</a></li>
                    <li class="page"><a href="/login">Iniciar Sesión</a></li>
                </ul>
            </nav>

            <div class="cart">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </header>
    <!-- End of header -->
<!--Start of main body-->
    <main>

        <div class="bread-crumbs">
            <span><a href="/"><i class="fas fa-chevron-left"></i></a></span>
            <span>Home</span>
            <span><i class="fas fa-angle-right"></i></span>
            <span>Categorías</span>
            <span><i class="fas fa-angle-right"></i></span>
            <span>Montañeras</span>
        </div>

        <select name="filtro" class=""> <!--Objetivo es que te lleve a cada sección de la página-->
            <option value="inf-general" selected>INFORMACIÓN GENERAL</option>
            <option value="caracteristica">CARACTERÍSTICAS</option>
            <option value="especif-tec">ESPECIFICACIONES TÉCNICAS</option>
            <option value="tallaje">TALLAJE & AJUSTE</option>
            <option value="opinion">OPINIONES</option>
        </select></div>

        <section class="inf-general-1">
            <div class="main-description">
                <div class="article-name">Artículo de nombre x</div>
                <span>$200</span>
                <span>16 unid. en stock</span><br>
                <div class="calification">
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="far fa-star"></i></span>
                </div>
                <span><a href=""><u>07 opiniones</u></a></span>
                <span>/</span>
                <span><a href=""><u>Escribe tu opinión</u></a></span>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A enim ducimus natus velit aliquid, placeat, repellendus neque veniam expedita nemo illum quas blanditiis odit aspernatur doloribus mollitia incidunt vero. Repellendus!</p>

                <div class="description-image">
                    <img src="./images/detalleproducto-hero1.jpg" alt="product image">
                </div>
            </div>
            <div class="second-description">
                <span>Color: </span>
                <span><i class="fas fa-circle"></i></span>
                <span><i class="fas fa-circle"></i></span>
                <span><i class="fas fa-circle"></i></span><br>
                <span>Talla: </span><br>
                <select name="talla" class=""> <!--Objetivo es que te lleve a cada sección de la página-->
                    <option value="inf-general" selected>Selecciones una talla</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <div class="cantidad">
                    <div class="div1"><i class="fas fa-minus"></i></div>
                    <div class="div2">1</div>
                    <div class="div1"><i class="fas fa-plus"></i></div>
                </div>
                <div class="button"><button type="submit" class="boton-cart">AGREGAR AL CARRITO</button></div>

            </div>
        </section>

        <section class="inf-general-2">
            <div>¿Por qué la amaras?</div>
            <video src="https://www.youtube.com/watch?v=p2xBsiNca7c" width=320  height=240 controls poster="video.jpg">
                Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.<br>
                La versión descargable está disponible en <a href="https://www.youtube.com/watch?v=p2xBsiNca7c">Enlace</a>. 
                </video>
            <div class="reasons-to-love">
                <div>
                    <span>1-</span>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae tempora quam nobis dignissimos iusto quibusdam velit magnam quisquam rem laborum, illum eius non quas doloribus. Voluptatem perspiciatis ad suscipit eum.</span>
                </div>
                <div>
                    <span>2-</span>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae tempora quam nobis dignissimos iusto quibusdam velit magnam quisquam rem laborum, illum eius non quas doloribus. Voluptatem perspiciatis ad suscipit eum.</span>
                </div>
                <div>
                    <span>3-</span>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae tempora quam nobis dignissimos iusto quibusdam velit magnam quisquam rem laborum, illum eius non quas doloribus. Voluptatem perspiciatis ad suscipit eum.</span>
                </div>
            </div>
        </section>

        <section class="caracteristica">
            <div>Características</div>
            <a href=""><u>Ver  más artículos relacionados</u></a>
            <div class="caracteristics-image">
                <img src="./images/detalleproducto-hero11.jpg" alt="product image">
            </div>
            <div class="carct-bottom-line">
            <div>Manillar</div>
            <div class="carrusel-sign">
            <span><i class="far fa-circle"></i></span>
            <span><i class="fas fa-circle"></i></span>
            <span><i class="fas fa-circle"></i></span>
            <span><i class="fas fa-circle"></i></span>
            <span><i class="fas fa-circle"></i></span>
            <span><i class="fas fa-circle"></i></span>
            <span><i class="fas fa-circle"></i></span>
            </div>
            <div>Artículo 1 de 7</div>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel excepturi repellendus voluptatum soluta culpa, temporibus inventore corporis fuga. Distinctio, porro quidem amet illum ab sit quisquam architecto est ex laudantium.</p>
            <div class="button"><button type="submit" class="boton-cart-sec">VER MÁS DETALLE</button></div>  
        </section>

        <section class="especif-tec">
            
            
        </section>

        <section class="tallaje">
            
        </section>

        <section class="opinion">
            
        </section>





    </main>
<!--End of main body-->

<!-- Footer -->
<footer>
    <div class="footer-container">

        <div class="footer-main">
            <div class="footer-title">
            <span>REGÍSTRATE A NUESTRO CATÁLOGO</span>
            </div>
            <div class="footer-description">Obtén ofertas especiales, productos exclusivos e información de eventos en tu inbox.</div>
        </div>

        <div class="form-section">
            <form action="" method="get">
                <div>
                    <label for="emailAddress" id="label-email">Email</label>
                    <input type="email" id="emailAddress">
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="intereses">
                        <span id="checkbox-text">
                            Ver Políticas de Privacidad & Términos
                        </span>
                    </label>
                </div>

                <div class="footer-details">
                    <p>Al suscribirse recibirá las últimas noticias y eventos asociados al mundo del ciclismo; según la Política de Privacidad & Términos.</p>
                </div>

                <div>
                    <a href="#" id="subscribe">SUSCRÍBETE</a>
                </div>

                <div class="networks">
                    <i class="fab fa-facebook-square fa-2x"></i>
                    <i class="fab fa-twitter-square fa-2x"></i>
                    <i class="fab fa-instagram-square fa-2x"></i>
                    <i class="fab fa-youtube-square fa-2x"></i>
                </div>
                
            </form>
        </div>
        
    </div>
</footer>
<!-- End of Footer -->

    
</body>
</html>