:root {
  --primary: #263238;
  --primary-light: #4f5b62;
  --primary-dark: #000a12;
  --secondary: #dd2c00;
  --secondary-light: #ff6434;
  --secondary-dark: #a30000;
  --font-family: "Varela", sans-serif;
  --h5: 25px;
  --h4: 35px;
  --h3: 50px;

  --subtitle-1: ;
}

* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
}

/**********/
/* HEADER */
/**********/

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--primary-dark);
  font-family: var(--font-family);
  font-size: var(--h5);
  line-height: var(--h5);
}

.navigation-menu {
  display: none;
}

.burger {
  color: white;
}

.brand-name {
  color: white;
}

.fa-shopping-cart {
  color: white;
}

#active {
  color: var(--secondary-light);
}

/*******************/
/* BIKE CATEGORIES */
/*******************/
.categories {
  background-color: var(--primary);
}

.categories-container {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-item {
  margin: 30px;
}

.category-item .category-title {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  color: white;
  background-color: var(--secondary-dark);
  font-family: var(--font-family);
  border-radius: 5px 5px 0px 0px;
}

.category-item .image img {
  width: 320px;
  height: 280px;
  object-fit: cover;
}

@media (min-width: 1024px) {
  /**********/
  /* HEADER */
  /**********/
  .main-header {
    padding: 30px;
  }
  .menu {
    display: none;
  }

  .navigation-menu {
    display: flex;
  }

  .navigation-menu ul {
    display: flex;
  }

  .navigation-menu li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .navigation-menu li a {
    color: white;
    font-size: 12px;
  }

  .page {
    margin: 0 30px;
  }

  /*******************/
  /* BIKE CATEGORIES */
  /*******************/

  .category-item .image img {
    width: 400px;
    height: 340;
  }
}
