<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body class="body-form">
        <!-- Header -->
        <%- include('../partials/header') %>
        <!-- End of header -->

        <!-- Form section -->
        <main class="reg-form">
            <div class="header-form">
            <div class="first-line">
                <a href="/"><i class="fas fa-chevron-left" id="back-sign"></i></a>
                <div class="title-form">Crear una cuenta</div>
            </div>
            <div>Editar usuario</div>
            </div>

            <form class="main-form" action="/users/edit?_method=PUT" method="POST" enctype="multipart/form-data"> 
                <div class="control-formulario">
                    <label for="nombre">Nombre</label><br>
                <input type="text" id="nombre" name="nombre" placeholder="Nombres" class="control" minlength="2" pattern="[^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$
                ]" value="<%=userToEdit.name %>"  required>
                </div>

                <div class="control-formulario">
                <label for="apellidoPaterno">Apellido paterno</label><br>
                <input type="text" id="apellidoPaterno" name="apellidoPaterno" placeholder="Apellido paterno" class="control" minlength="2" pattern="[^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$
                ]" required>
                </div>
                
                <div class="control-formulario">
                <label for="apellidoMaterno">Apellido materno</label><br>
                <input type="text" id="apellidoMaterno" name="apellidoMaterno" placeholder="Apellido materno" class="control" minlength="2" pattern="[^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$
                ]" required>
                </div>

                <div class="control-formulario">
                    <label for="email">Email</label><br>
                    <input type="email" id="email" name="email" placeholder="ejemplo@nodebike.com.pe" required>
                </div>

                <div class="control-formulario">
                    <label for="contraseña">Clave</label><br>
                    <input type="password" name="password" id="contraseña" class="control" minlength="7" pattern="[^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$
                    ]" title="La contraseña debe contener valores alfanuméricos, no se aceptan mayúsculas y se aceptan un mínimo de 7 caracteres" required>
                </div>

                <div class="control-formulario">
                    <label for="passwordx2">Confirmar clave</label><br>
                    <input type="password" name="passwordx2" id="passwordx2" class="control" minlength="7" pattern="[^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$
                    ]" title="La contraseña debe contener valores alfanuméricos, no se aceptan mayúsculas y se aceptan un mínimo de 7 caracteres" required>
                </div>

                <div class="control-formulario">
                    <label>País de residencia</label><br>
                    <select name="paises" class="control">
                        <option value="peru" selected>Perú</option>
                        <option value="canada">Canádá</option>
                        <option value="colombia">Colombia</option>
                        <option value="chile">Chile</option>
                        <option value="ecuador">Ecuador</option>
                    </select></div>

                    <div class="control-formulario">
                        <label>Tipo de documento</label><br>
                        <select name="tipoDocumento" class="control">
                            <option value="dni" selected>DNI</option>
                            <option value="passport">Pasaporte</option>
                            <option value="carnetExtranjero">Carnet de extranjería</option>
                        </select></div>

                        <div class="control-formulario">
                            <label for="numeroDocumento">Número de documento</label><br>
                            <input type="text" name="numeroDocumento" id="numeroDocumento" class="control" minlength="8"  placeholder="75296358" pattern="[^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$]" required>
                        </div>

                        <div class="control-formulario">
                            <label for="genero">Género</label><br>
                            <div class="line" id="line-1"><input type="radio" name="genero" value="femenino" checked>Femenino</div>
                            <div class="line"><input type="radio" name="genero" value="masculino">Maculino</div>
                        </div>

                        <div class="control-formulario">
                            <label for="fechaNacimiento">Fecha de Nacimiento</label><br>
                            <input type="date" name="fechaNacimiento" id="fechaNacimiento" class="control"  required> 
                        </div>

                        <div class="control-formulario">
                            <label for="celular">Número de documento</label><br>
                            <input type="text" name="celular" id="celular" class="control" minlength="9"  placeholder="954562253" pattern="[^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$]" required>
                        </div>

                        <div class="control-formulario">
                            <div class="line" id="line-1"><input type="checkbox" name="condicion" value="novedades" checked>Quiero recibir novedades</div>
                            <div class="line"><input type="checkbox" name="condicion" value="terminos" checked>Acepto <a href=""><u>Términos y Condiciones</u></a></div>
                        </div>


                        <div class="primary-button"><button type="submit" class="boton-formulario">CREAR CUENTA</button></div>

            </form>
        </main>


        <!--End of form section-->

 <!-- Footer -->
 <%- include('../partials/footer') %>
<!-- End of Footer -->
    
</body>
</html>