<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
<h1>User List</h1>
<ul>
    <% for(let i=0; i<users.length; i++){ %>
        <li>
            <%= users[i].name %>
        </li>
    <% } %>
</ul>


    <%- include('../partials/footer') %>
</body>
</html>