<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <!-- Header -->
    <%- include('../partials/header') %>
    <!-- End of header -->

    <!-- Miga Section -->
    <section class="miga-section">
        <div class="miga-container miga-content">
            <i class="fas fa-chevron-left fa-lg"></i>
            <a href="./index.html">Home</a>
            <i class="fas fa-chevron-right fa-xs"></i>
            <a href="#">Categorías</a>
            <i class="fas fa-chevron-right fa-xs"></i>
            <a href="#">Montañeras</a>
        </div>
    </section>
    <!-- End of Miga Section -->

    <!-- Filter Section -->
    <section class="filter-section">
        <div class="filter-container filter">
            <div  class="filter-options">
                <div class="filter-option">ORDENAR POR PRECIO de mayor a menor</div>
                <div class="filter-option hidden-filter">ORDENAR POR PRECIO de menor a mayor</div>
            </div>
            
            <i class="fas fa-caret-down toggle"></i>
        </div>
    </section>

    <!-- End of Filter Section -->

    <!-- Producto Section -->
    <section class="top-products">
        <div class="container desktop-products">
            

            <div class="list-products">
                <div class="product mb">
        
                    <div>
                        <div class="top-products_detail">
                            <span>Artículo de Nombre x</span>
                            <div class="top-products_detail_price_stock">
                                <span>$ 200.00</span>
                                <span>16 unid. en stock</span>
                            </div>
                            <div class="top-products_detail-stars">
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                            </div>
                        </div>
            
                        <div class="top-product_see_more">
                            <a href="#">VER MÁS DETALLE</a>
                        </div>
                        <div class="top-product_image">
                            
                        </div>
                    </div>
                </div>
    
                <div class="product mb">
                    
            
                    <div>
                        <div class="top-products_detail">
                            <span>Artículo de Nombre x</span>
                            <div class="top-products_detail_price_stock">
                                <span>$ 200.00</span>
                                <span>16 unid. en stock</span>
                            </div>
                            <div class="top-products_detail-stars">
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                            </div>
                        </div>
            
                        <div class="top-product_see_more">
                            <a href="#">VER MÁS DETALLE</a>
                        </div>
                        <div class="top-product_image">
                            
                        </div>
                    </div>
                </div>
    
                <div class="product mb">
            
                    <div>
                        <div class="top-products_detail">
                            <span>Artículo de Nombre x</span>
                            <div class="top-products_detail_price_stock">
                                <span>$ 200.00</span>
                                <span>16 unid. en stock</span>
                            </div>
                            <div class="top-products_detail-stars">
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                            </div>
                        </div>
            
                        <div class="top-product_see_more">
                            <a href="#">VER MÁS DETALLE</a>
                        </div>
                        <div class="top-product_image">
                            
                        </div>
                    </div>
                </div>

                <div class="product mb">
            
                    <div>
                        <div class="top-products_detail">
                            <span>Artículo de Nombre x</span>
                            <div class="top-products_detail_price_stock">
                                <span>$ 200.00</span>
                                <span>16 unid. en stock</span>
                            </div>
                            <div class="top-products_detail-stars">
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                                <i class="fas fa-star fa-xs"></i>
                            </div>
                        </div>
            
                        <div class="top-product_see_more">
                            <a href="#">VER MÁS DETALLE</a>
                        </div>
                        <div class="top-product_image">
                            
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
        
    </section>

    <!-- End of Producto Section -->

    <!-- Footer -->
    <%- include('../partials/footer') %>
    <!-- End of Footer -->
    
</body>
</html>