<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
     <!-- Header -->
     <%- include('../partials/header') %>
    <!-- End of header -->

    <!-- Miga Section -->
    <section class="miga-section">
        <div class="miga-container miga-content">
            <i class="fas fa-chevron-left fa-lg"></i>
            <a href="./index.html">Home</a>
            <i class="fas fa-chevron-right fa-xs"></i>
            <a href="#">Categorías</a>
            <i class="fas fa-chevron-right fa-xs"></i>
            <a href="#">Montañeras</a>
            <i class="fas fa-chevron-right fa-xs"></i>
        </div>
    </section>
    <!-- End of Miga Section -->

<!--Start of main body-->
    <main>
        <!-- Filter Section -->
        <section class="filter-section filter-container filter">
            <select name="filtro" class="primary-filter"> <!--Objetivo es que te lleve a cada sección de la página-->
                <option value="inf-general" selected>INFORMACIÓN GENERAL</option>
                <option value="caracteristica">CARACTERÍSTICAS</option>
                <option value="especif-tec">ESPECIFICACIONES TÉCNICAS</option>
                <option value="tallaje">TALLAJE & AJUSTE</option>
                <option value="opinion">OPINIONES</option>
            </select>
        </section>
        <!-- End of Filter Section -->

         <!-- Product Section -->
        <section class="top-products">
            <div class="filter-container desktop-products">
                <div class="list-products">
                    <div class="product mb dw">
                        <div >
                            <div class="main-product_desktop">
                                <div class="top-products_detail">
                                    <span>Artículo de Nombre x</span>
                                    <div class="top-products_detail_price_stock">
                                        <span>$ 200.00</span>
                                        <span>16 unid. en stock</span>
                                    </div>
                                    <div class="review">
                                        <div class="top-products_detail-stars">
                                            <i class="fas fa-star fa-xs"></i>
                                            <i class="fas fa-star fa-xs"></i>
                                            <i class="fas fa-star fa-xs"></i>
                                            <i class="fas fa-star fa-xs"></i>
                                            <i class="fas fa-star fa-xs"></i>
                                        </div>
                                        <div class="leave-opinion">
                                            <span><a href="">07 opiniones</a></span>
                                            <span>/</span>
                                            <span><a href="">Escribe tu opinión</a></span>
                                        </div>
                                        
                                    </div>
                                    <div class="general-desc-product">
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A enim ducimus natus velit aliquid, placeat, repellendus neque veniam expedita nemo illum quas blanditiis odit aspernatur doloribus mollitia incidunt vero. Repellendus!</p>
                                    </div>
                                    <div class="product-desc_image">
                                    
                                </div>
                            </div>
                            
                                

                            <div class="second-description">
                                <span>Color: </span>
                                <span><i class="fas fa-circle red"></i></span>
                                <span><i class="fas fa-circle blue"></i></span>
                                <span><i class="fas fa-circle orange"></i></span><br>
                                <span>Talla: </span><br>
                                <select name="talla" class="sec-filter"> <!--Objetivo es que te lleve a cada sección de la página-->
                                    <option value="inf-general" selected>Seleccione una talla</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>
                                <div class="cantidad">
                                    <div class="div1"><i class="fas fa-minus"></i></div>
                                    <div class="div2">1</div>
                                    <div class="div1"><i class="fas fa-plus"></i></div>
                                </div>
                                
                
                            </div>
                                
                            
                
                            <div class="top-product_see_more">
                                <a href="#">VER MÁS DETALLE</a>
                            </div>
                            
                        </div>
                    </div>
        


                </div>
                
                
            </div>
            
        </section>

        <!-- End of Product Section -->

        <!-- What makes it special Section -->
        <section class="inf-general-2 container">
            <div  class="reason-to-love_subtitle">¿Por qué la amaras?</div>
            <div class="video">
                <iframe src="https://www.youtube.com/embed/p2xBsiNca7c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="reasons-to-love">
                <div>
                    <span>1-</span>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae tempora quam nobis dignissimos iusto quibusdam velit magnam quisquam rem laborum, illum eius non quas doloribus. Voluptatem perspiciatis ad suscipit eum.</span>
                </div>
                <div>
                    <span>2-</span>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae tempora quam nobis dignissimos iusto quibusdam velit magnam quisquam rem laborum, illum eius non quas doloribus. Voluptatem perspiciatis ad suscipit eum.</span>
                </div>
                <div>
                    <span>3-</span>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae tempora quam nobis dignissimos iusto quibusdam velit magnam quisquam rem laborum, illum eius non quas doloribus. Voluptatem perspiciatis ad suscipit eum.</span>
                </div>
            </div>
        </section>
        <!-- What makes it special Section -->


        <!-- Characteristics Section -->

        <!-- <section class="caracteristica">
            <div>Características</div>
            <a href=""><u>Ver  más artículos relacionados</u></a>
            <div class="caracteristics-image">
                <img src="./images/detalleproducto-hero11.jpg" alt="product image">
            </div>
            <div class="carct-bottom-line">
            <div>Manillar</div>
            <div class="carrusel-sign">
            <span><i class="far fa-circle"></i></span>
            <span><i class="fas fa-circle"></i></span>
            <span><i class="fas fa-circle"></i></span>
            <span><i class="fas fa-circle"></i></span>
            <span><i class="fas fa-circle"></i></span>
            <span><i class="fas fa-circle"></i></span>
            <span><i class="fas fa-circle"></i></span>
            </div>
            <div>Artículo 1 de 7</div>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel excepturi repellendus voluptatum soluta culpa, temporibus inventore corporis fuga. Distinctio, porro quidem amet illum ab sit quisquam architecto est ex laudantium.</p>
            <div class="button"><button type="submit" class="boton-cart-sec">VER MÁS DETALLE</button></div>  
        </section> -->

        <!-- End of Characteristics Section -->

        <!-- EN ADELANTE PARTE DE LORENA -->

        <section class="especif-tec">
            <div class="subtitle-spc">Especificación Técnica</div>
            <p>Las especificaciones son para todas las tallas, a no ser que se indique lo contrario.</p>
            <table class="tabla-spc">
                <tbody>
                    <tr class="first-row"><td><i class="fas fa-chevron-down"></i>Conjunto del cuadro</td></tr>
                    <tr><td><i class="fas fa-chevron-down"></i>Ruedas</td></tr>
                    <tr><td><i class="fas fa-chevron-down"></i>Transmisión</td></tr>
                    <tr><td><i class="fas fa-chevron-down"></i>Componentes</td></tr>
                    <tr><td><i class="fas fa-chevron-down"></i>Accesorios</td></tr>
                    <tr><td><i class="fas fa-chevron-down"></i>Peso</td></tr>
                    
                </tbody>
            </table>     
        </section>

        <section class="tallaje">
            <div  class="subtitle-spc">Tallaje y Ajuste</div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel excepturi repellendus voluptatum soluta culpa, temporibus inventore corporis fuga. Distinctio, porro quidem amet illum ab sit quisquam architecto est ex laudantium.</p>
            <table class="body-table">
                <thead class="table-head">
                    <tr>
                    <th> </th>
                    <th>S</th>
                    <th>M</th>
                    <th>L</th>
                    <th>XL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Altura ciclista</td>
                        <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</td>
                        <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</td>
                        <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</td>
                        <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</td>
                    </tr>
                    <tr>
                        <td>Pernera</td>
                        <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</td>
                        <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</td>
                        <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</td>
                        <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</td>
                    </tr>
                </tbody>
            </table>
            <div class="tallaje-image">
                <img src="./images/tallaje.jpg" alt="tallas de bicicleta">
            </div>
            <div class="medidas-especificas">
                <p>Todas las medidas se proporcionan en cm, salvo cuando se indique lo contrario.</p>
                
                <div  class="body-table2">
                <table>
                    <tbody>
                        <tr>
                            <td>Número de talla del cuadro</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                        </tr>
                        <tr>
                            <td>Letra de talla del cuadro</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                        </tr>
                        <tr>
                            <td>A - Tubo del sillín</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                        </tr>
                        <tr>
                            <td>C - Longitud del tubo de dirección</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                            <td>15.5</td>
                        </tr>            
                    </tbody>
                </table>   </div>  
            </div>
        </section>

        <section class="opinion">
            <div class="subtitle-spc">Opiniones</div>
            <div class="calification">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="far fa-star"></i></span>
            </div>
            <span><a href=""><u>07 opiniones</u></a></span>
            <span>/</span>
            <span><a href=""><u>Escribe tu opinión</u></a></span><br>
            <select name="filtro" class="sec-filter"> 
                <option value="inf-general" selected>Más relevantes</option>
                <option value="caracteristica">Más recientes</option>
            </select>
            <div class="comment-box">
                <div class="profile-image">
                    <img src="./images/profile.jpg" alt="Profile picture">
                </div>
            <div>
                <div><i class="fas fa-thumbs-up"></i>125</div>
                <div><i class="fas fa-thumbs-down"></i>60</div>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel excepturi repellendus voluptatum soluta culpa, temporibus inventore corporis fuga. Distinctio, porro quidem amet illum ab sit quisquam architecto est ex laudantium.</p>
            <div class="carrusel-sign">
                <span><i class="far fa-circle"></i></span>
                <span><i class="fas fa-circle"></i></span>
                <span><i class="fas fa-circle"></i></span>
                </div>    
        </div>
        </section>





    </main>
<!--End of main body-->

<!-- Footer -->
<%- include('../partials/footer') %>
<!-- End of Footer -->

    
</body>
</html>